<div class="container">
  <h1>Stupid Coaching</h1>
  <p class="form"><%= params[:question] %></p>
  <p class="form"><%= @answer %></p>
  <p><%= link_to "Ask a new question", ask_path, class: "text-decoration-none" %></p>
</div
